.section {
  background-color: var(--bg-footer-light);
  margin: 8rem 0;
  position: relative;
}

.container {
  max-width: 130rem;
  padding: 4rem 4rem 8rem 4rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.heading {
  font-size: 2.4rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reviewList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: nowrap;
}

.review {
  flex: 1 0 calc((100% / 3) - 1rem);
  max-width: calc((100% / 3) - 1rem);
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.reviewHeader {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.4rem;
}

.cimage {
  border-radius: 50%;
}

.cdetails {
  border-left: 2px solid var(--color-primary);
  padding-left: 1.5rem;
}

.location {
  color: var(--color-primary);
}

.reviewText {
  margin-top: 3rem;
  font-size: 1.5rem;
  line-height: 1.5;
}

.rating {
  text-align: left;
}

.appRating {
  position: absolute;
  bottom: -6rem;
  right: 50%;
  width: 10rem;
  height: fit-content;
  object-fit: cover;
  transform: translateX(50%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 48em) {
  .review {
    flex: 1 0 calc((100% / 1) - 1rem);
    max-width: calc((100% / 1) - 1rem);
  }

  .appRating {
    position: absolute;
    top: -6rem;
    right: 9rem;
    width: 10rem;
    height: fit-content;
    object-fit: cover;
    transform: translateX(50%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .button {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
  }
}
