.section {
  padding: 0 4rem;
}

.heading {
  font-size: 2.4rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.checkoutContainer {
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  gap: 4rem;
  margin-top: 3rem;
}

.checkoutDetails {
  border: 1px solid var(--color-subtitle);
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cartItem {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-subtitle);
}

.itemImage {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
}

.itemPrice {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--color-primary);
}

.itemName {
  font-size: 1.6rem;
  font-weight: 500;
}

.checkoutNotes input {
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--color-subtitle);
  border-radius: 4rem;
  margin-top: 0.5rem;
  font-size: 1.4rem;
  color: var(--color-subtitle);
  font-weight: 500;
}

/* Checkout Summary */

.checkoutSummary {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.deliveryAddress {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-subtitle);
  border-radius: 4rem;
  gap: 1rem;
}

.circle {
  display: grid;
  place-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  padding: 0.5rem;
  font-size: 2rem;
  background-color: transparent;
  border: 1px solid var(--color-subtitle);
}

.addressTitle {
  font-size: 1.4rem;
  font-weight: 500;
}

.addressText {
  font-size: 1rem;
  color: #83858a;
}

.hide {
  display: none;
}

.summary,
.summaryTotal {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr auto;
  color: #83858a;
  font-size: 1.4rem;
}

.summaryTotal {
  border-top: 1px solid var(--color-subtitle);
  padding-top: 1rem;
  font-size: 1.6rem;
}

.paymentButton {
  margin-top: 2rem;
  font-size: inherit;
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 4rem;
  background-color: var(--color-primary);
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
}

@media (max-width: 48em) {
  .section {
    padding: 0 2rem;
  }

  .heading {
    font-size: 2rem;
  }

  .checkoutContainer {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }

  .checkoutSummary {
    height: 100%;
  }
}
